h1,h2 {
    color:#000000;
}
 
h3 {
    color:#FF0000;
}

#error {
  text-align: center;
  padding: 30px 40px;
  font-size: 50px;
} 
 
 
table {
    border-collapse: collapse;
}
 
table th, table td {
    padding: 10px;
}

.submit {
  background-color: blue+white;
  border: none;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 1px;
  cursor: pointer;
}

.button {
  background-color: #005f01;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pn {
  background-color: #00ce02;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}
input {
    margin: .4rem;
}

.error {
	color:red;
	font-style:italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #00ce02;
}